
<div class="col-md-6 col-md-offset-2">
  <h3>Edit</h3>
  <br />

  <!-- Designing Login Form-->
  <form [formGroup]="editForm" (ngSubmit)="onSubmit3()">
    <div class="form-group">

      <label for="task">Task Title : </label>
      <input type="text" class="form-control" formControlName="task" 
      id="task" />

      <div *ngIf="submitted && signupForm.controls.taskl.errors" class="error">
        <div class="text-danger" *ngIf="signupForm.controls.task.errors.required">
          Task is required ..
        </div>
      </div>
      <br/>


      <label for="date">Date: </label>
      <input type="date" class="form-control" formControlName="date" />

      <div *ngIf="submitted && signupForm.controls.date.errors" class="error">
      <div class="text-danger" *ngIf="loginForm.controls.date.errors.required">
          Date is required ..
      </div>
      </div>
      <br/>


      <label for="status">Completion Status: </label>
      <input type="text" class="form-control" formControlName="status" />

      <div *ngIf="submitted && signupForm.controls.status.errors" class="error">
      <div class="text-danger" *ngIf="loginForm.controls.status.errors.required">
          Completion status is required ..
      </div>
      </div>
      <br/>


      <label for="action">Action Description: </label>
      <input type="text" class="form-control" formControlName="action" />

      <div *ngIf="submitted && signupForm.controls.action.errors" class="error">
      <div class="text-danger" *ngIf="loginForm.controls.action.errors.required">
          Action description is required ..
      </div>
      </div>

    </div>
    <br/>
    <button class="btn btn-success">Update</button> &nbsp;

    <button class="btn btn-danger" type="reset">Cancel</button>&nbsp;

    <a class="btn btn-warning" [routerLink]="['/home']">
      GotoHome</a> <br /><br />

    <div *ngIf="invalidLogin" class="error">
      <div class="text-danger">
        Invalid credentials ..
      </div>
    </div>

  </form>

</div>

